@model MiniBlog.Models.Page
    @using HeyRed.MarkdownSharp

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Page</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            Category
        </dt>

        <dd>
            @foreach (var item in Model.PageCategory)
            {
                @Html.DisplayFor(modelItem => item.Category.Name)
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            <table class="table">
                    <tr>
                        <td>
                           @Html.Raw(new Markdown().Transform(Model.Content))
                            @*@Html.DisplayFor(model => model.Content, new { style = "width:1000px;height:100px;" }))*@
                        </td>
                    </tr>
            </table>
        </dd>


        

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
