@model IEnumerable<MiniBlog.Models.Page>
@*@using MiniBlog.DAL*@

@{
    ViewBag.Title = "Index";

    //public BlogContext db = new BlogContext();
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("View Page", "Details", new { id=item.ID }) |
            @{ 
//ViewBag.PageCategory = db.PageCategories.Where(id => id == item.ID)
//if (item.PageCategory) { }
            }
            @Html.ActionLink("Set Category", "Create", "PageCategories", new { id = item.ID }, null) |
            @Html.ActionLink("Edit Category", "Edit", "PageCategories", new { id = item.ID }, null) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
